@media (max-width: 992px) {
	.blockquote__author {
		margin: 0 0 0 auto;
		transform: translateX(0%);
	}
}
//========================================================================================
@media (max-width: 830px) {
	body {
		&.lock {
			overflow: hidden;
		}
	}
	.header__inner {
		padding: 20px 0;
		transition: all 0.5s ease 0s;
		&.active {
			background-color: rgba($green, 0.9);
			margin: 0 -15px;
			padding: 10px 15px;
		}
	}
	.logo {
		position: relative;
		z-index: 2;
	}
	.header__burger {
		display: block;
		position: relative;
		z-index: 2;
		width: 30px;
		height: 20px;
		span {
			position: absolute;
			background-color: #fff;
			left: 0;
			width: 100%;
			height: 2px;
			top: 9px;
			border-radius: 1px;
		}
		&::before,
		&::after {
			content: "";
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			border-radius: 1px;
			transition: all 0.5s ease 0s;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		&.active {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(45deg);
				top: 9px;
			}
			&::after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
		}
	}
	.header__menu {
		position: absolute;
		width: 100%;
		top: -100%;
		left: 0;
		right: 0;
		height: 100%;
		overflow: auto;
		padding-top: 20px;
		text-align: center;
		background-color: rgba($color-title, 0.9);
		transition: all 0.5s ease 0s;
		&.active {
			top: 83px;
		}
	}
	.menu__list {
		margin: 0;
		display: block;
	}
	.menu__list-item + .menu__list-item {
		margin: 0;
	}
	.menu__list-link {
		padding: 15px 0;
	}
}
//========================================================================================
@media (max-width: 768px) {
	.get__items {
		display: block;
	}
	.get__item {
		margin-bottom: 40px;
	}
	.get__item-top {
		flex-direction: column;
		align-items: center;
	}
	.get__item-img {
		margin-bottom: 20px;
	}
	.get__item-title {
		font-size: 20px;
	}
	.get__inner {
		display: block;
		margin: 0;
		& > div {
			padding: 0;
		}
		.get__info {
			padding-right: 20px;
		}
	}
	.get__info {
		margin-bottom: 30px;
	}
	.vertex__title {
		text-align: center;
	}
	.gallery__numbers{
		flex-wrap: wrap;
	}
	.gallery__numbers-item {
		flex: 0 1 50%;
		margin-bottom: 30px;
	}
}
//========================================================================================
@media (max-width: 640px) {
	.about__items {
		display: block;
	}
	.gallery__btn {
		display: block;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.gallery__items {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: none;
	}
	.gallery__item {
		&:first-child {
			grid-column: span 1;
			grid-row: span 1;
		}

		&:last-child {
			grid-column: span 1;
			grid-row: span 1;
		}
	}
}
//========================================================================================
@media (max-width: 540px) {
	.gallery__items {
		grid-template-columns: repeat(2, 1fr);
	}
	.gallery__item {
		grid-column: span 1;
		grid-row: span 1;
	}
	.blockquote__text {
		max-width: 100%;
	}
	.blockquote__author {
		margin: 10px auto 0;
	}
}
//========================================================================================
@media (max-width: 480px) {
	.header__inner {
		padding: 10px 0px;
	}
	.header__subtitle {
		text-align: center;
	}
	.header__icon {
		margin-bottom: 60px;
	}
	.gallery__numbers-item {
		flex: 0 1 100%;
	}
}
//========================================================================================
@media (max-width: 375px) {
	.gallery__items {
		grid-template-columns: repeat(1, 1fr);
	}
	.gallery__link {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
}
