@import "_vars";
@import "_libs";
@import "_mixins";
@import "_fonts";
@import "_reset";
@import "_global";

//========================================================================================

.header {
	min-height: 100vh;
	background-image: url(../images/header-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;

	// .header__top

	&__top {
	}

	// .header__inner

	&__inner {
		// min-height: 133px;
		padding: 35px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .header__burger

	&__burger {
		display: none;
	}

	// .header__menu

	&__menu {
		margin: 0 auto;
	}

	// .header__content

	&__content {
	}

	// .header__content-inner

	&__content-inner {
		min-height: calc(100vh - 133px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	// .header__title

	&__title {
		margin-top: auto;
		@include raleway;
		font-weight: 700;
		font-size: 200px;
		line-height: calc(235 / 200 * 100%);
		text-transform: uppercase;
		color: #0d302c;
		@include adaptiv-font(200, 84);
	}

	// .header__subtitle

	&__subtitle {
		margin-bottom: auto;
		font-weight: 400;
		line-height: calc(28 / 24 * 100%);
		color: #000;
		@include adaptiv-font(24, 18);
	}

	// .header__icon

	&__icon {
		margin-bottom: 90px;
	}

	// .header__icon-img

	&__icon-img {
	}
}
.logo {
	flex: 0 0 60px;
	// .logo__img

	&__img {
	}
}
.menu {
	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: 10px;
	}

	// .menu__list-item

	&__list-item {
		// display: inline-block;

		& + .menu__list-item {
			margin-left: 45px;
		}
	}

	// .menu__list-link

	&__list-link {
		font-size: 24px;
		line-height: calc(28 / 24 * 100%);
		color: #fff;
		padding-bottom: 5px;
		border-bottom: 1px solid transparent;
		transition: all 0.5s;

		&:hover {
			border-bottom: 1px solid $green;
		}
	}
}

//========================================================================================

.about {
	@include adaptiv-value("padding-top", 180, 45, 0);
	@include adaptiv-value("padding-bottom", 180, 45, 0);

	// .about__title

	&__title {
		@include adaptiv-value("margin-bottom", 100, 30, 0);
	}

	// .about__items

	&__items {
		display: flex;
		justify-content: space-between;
		margin: 0 -10px;
	}

	// .about__item

	&__item {
		flex: 0 1 500px;
		padding: 0 10px;
	}

	// .about__item-text

	&__item-text {
		margin-bottom: 30px;
	}
}

//========================================================================================

.get {
	@include adaptiv-value("padding-top", 180, 45, 0);
	@include adaptiv-value("padding-bottom", 180, 45, 0);
	background-color: #f8f8f8;

	// .get__title

	&__title {
		@include adaptiv-value("margin-bottom", 100, 30, 0);
	}

	// .get__items

	&__items {
		display: flex;
		margin: 0 -30px;
		margin-bottom: 100px;
		@include adaptiv-value("margin-bottom", 100, 40, 0);
	}

	// .get__item

	&__item {
		padding: 0 30px;
		flex: 0 1 33.333%;
	}

	// .get__item-top

	&__item-top {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}

	// .get__item-img

	&__item-img {
		flex: 0 0 auto;
	}

	// .get__item-title

	&__item-title {
		text-align: center;
		margin-left: 10px;
		font-size: 24px;
		line-height: calc(28 / 24 * 100%);
		color: $color-text;
	}

	// .get__item-text

	&__item-text {
	}

	// .get__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		margin: 0 -20px;

		& > div {
			padding: 0 20px;
		}
	}

	// .get__info

	&__info {
		flex: 0 1 350px;
	}

	// .get__info-item

	&__info-item {
		border-top: 2px solid $green;
		padding: 2px 0 28px;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 11px;
		line-height: calc(20 / 11 * 100%);
		color: #1d1d1d;
		letter-spacing: 1px;
		position: relative;

		span {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			margin-right: 7px;
			font-size: 18px;
			padding-top: 5px;

			&::before {
				content: "";
				position: absolute;
				height: 2px;
				background-color: #f0f0f0;
				top: -2px;
				right: -7px;
				width: 100%;
			}
		}
	}

	// .get__text

	&__text {
		flex: 0 1 600px;

		p {
			margin-bottom: 30px;
		}
	}
}

//========================================================================================

.vertex {
	@include adaptiv-value("padding-top", 200, 45, 0);
	@include adaptiv-value("padding-bottom", 300, 45, 0);

	// .vertex__content

	&__content {
		flex: 0 0 100%;
		display: flex;
	}

	// .vertex__container

	&__container {
		display: flex;
		align-items: center;
	}

	// .vertex__body

	&__body {
	}

	// .vertex__title

	&__title {
		@include adaptiv-value("margin-bottom", 100, 30, 0);
		text-align: left;
		padding-right: 20px;
	}

	// .vertex__text

	&__text {
		p {
			margin-bottom: 30px;
		}
	}

	// .vertex__image

	&__image {
	}
}
@media (min-width: 767px) {
	.vertex {
		display: flex;

		&__body {
			// max-width: 510px;
			width: 44.2%;
			padding: 0 40px 0 0;
		}
	}
	.vertex__image {
		position: relative;
		flex: 0 0 calc(((100vw - 40px) * 0.5) + 20px);
		padding: 0 0 44.3% 0;
		transform: translate(-100%, 0px);

		img {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
@media (max-width: 1230px) {
	.vertex__image {
		// flex: 0 0 calc(100vw - (((100vw - 1230px) / 2) + ((1230px - 40px) * 0.442) + 20px));
		flex: 0 0 calc(50vw - (0.442 - 0.5) * 1200px);
	}
}

//========================================================================================

.gallery {
	// .gallery__title

	&__title {
		@include adaptiv-value("margin-bottom", 210, 50, 0);
	}

	// .gallery__filter-btn

	&__filter-btn {
		margin-bottom: 50px;
	}

	// .gallery__btn

	&__btn {
		background-color: transparent;
		border: 0;
		padding: 0;
		margin-right: 20px;
		font-size: 24px;
		font-weight: 400;
		color: $color-text;
		text-transform: uppercase;
		cursor: pointer;

		&.mixitup-control-active {
			color: $green;
		}
	}

	// .gallery__inner

	&__inner {
	}

	// .gallery__items

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(2, 1fr);
		@include adaptiv-value("grid-gap", 40, 10, 0);
		margin-bottom: 50px;
	}

	// .gallery__item

	&__item {
		&:first-child {
			grid-column: span 2;
			grid-row: span 1;
		}

		&:last-child {
			grid-column: span 2;
			grid-row: span 1;
		}
	}

	// .gallery__item-img

	&__item-img {
		object-fit: cover;
		width: 100%;
		max-height: 290px;
		height: 100%;
	}

	// .gallery__btn-link

	&__btn-link {
		text-align: center;
	}

	// .gallery__link

	&__link {
		@include adaptiv-value("margin-bottom", 200, 40, 0);
		@include adaptiv-font(24, 20);
		padding: 0 90px;
		@include adaptiv-value("padding-top", 25, 15, 0);
		@include adaptiv-value("padding-bottom", 25, 15, 0);
		border: 1px solid #c4c4c4;
		line-height: calc(30 / 24 * 100%);
		font-weight: 400;
		text-transform: uppercase;
		color: $color-text;
		text-align: center;
	}

	// .gallery__video

	&__video {
		background-image: url("../images/video-bg.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 600px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 200px;
		@include adaptiv-value("margin-bottom", 200, 70, 0);
	}

	// .gallery__video-link

	&__video-link {
	}

	// .gallery__numbers

	&__numbers {
		display: flex;
		justify-content: center;
		margin: 0 -10px;
	}

	// .gallery__numbers-item

	&__numbers-item {
		padding: 0 10px;
		flex: 0 1 140px;
		text-align: center;
		font-weight: 700;
		font-size: 64px;
		line-height: calc(75 / 64 * 100%);
		color: $color-title;
		flex: 0 1 25%;

		span {
			display: block;
			font-size: 14px;
			line-height: calc(18 / 14 * 100%);
			text-align: center;
			color: $color-text;
		}
	}
}
.blockquote {
	background-color: #f8f8f8;
	padding: 0 15px;
	@include adaptiv-value("padding-top", 80, 50, 0);
	@include adaptiv-value("padding-bottom", 60, 50, 0);
	@include adaptiv-value("margin-bottom", 200, 50, 0);

	// .blockquote__text

	&__text {
		max-width: 600px;
		margin: 0 auto;
		text-align: center;
		font-style: italic;
		font-weight: 400;
		@include adaptiv-font(36, 30);
		line-height: calc(40 / 36 * 100%);
		color: $color-text;
	}

	// .blockquote__author

	&__author {
		max-width: 280px;
		margin: 0 auto;
		transform: translateX(107%);
		font-size: 14px;
		line-height: calc(18 / 14 * 100%);
	}
}

//========================================================================================

.blog {
	@include adaptiv-value("padding-top", 200, 45, 0);

	// .blog__title

	&__title {
		@include adaptiv-value("margin-bottom", 200, 50, 0);
	}

	// .blog__slider

	&__slider {
		background-image: url("../images/slider-blog-bg.jpg");
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: cover;
		min-height: 800px;

		.slick-dots {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 240px;
			padding-bottom: 50px;

			li {
				margin: 0 8px;
				@include adaptiv-value("margin-left", 8, 4, 0);
				@include adaptiv-value("margin-right", 8, 4, 0);
			}

			button {
				font-size: 0;
				outline: none;
				border: 0;
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: #fff;
				cursor: pointer;
			}
			.slick-active button {
				background-color: $green;
			}
		}
	}
}
.slider-blog {
	// .slider-blog__inner

	&__inner {
	}

	// .slider-blog__item

	&__item {
		max-width: 600px;
		display: block !important;
		margin-left: auto;
		margin-top: 350px;
	}

	// .slider-blog__item-link

	&__item-link {
	}

	// .slider-blog__item-title

	&__item-title {
		font-weight: 400;
		font-size: 48px;
		@include adaptiv-font(48, 32);
		line-height: calc(56 / 48 * 100%);
		color: #fff;
	}

	// .slider-blog__item-descr

	&__item-descr {
		color: #fff;
	}
}

//========================================================================================

.team {
	@include adaptiv-value("padding-top", 200, 45, 0);

	// .team__title

	&__title {
		@include adaptiv-value("margin-bottom", 180, 40, 0);
	}

	// .team__items

	&__items {
		display: flex;
		justify-content: space-between;
		margin: 0 -10px;
	}

	// .team__item

	&__item {
		padding: 0 10px;
		flex: 0 1 33.333%;
		text-align: center;
	}

	// .team__item-images

	&__item-images {
		margin-bottom: 25px;
	}

	// .team__item-img

	&__item-img {
	}

	// .team__item-name

	&__item-name {
		margin-bottom: 5px;
		font-weight: 700;
		font-size: 18px;
		line-height: calc(18 / 18 * 100%);
	}

	// .team__item-position

	&__item-position {
		font-weight: 400;
	}
}

//========================================================================================

.packages {
	@include adaptiv-value("padding-top", 200, 45, 0);
	@include adaptiv-value("padding-bottom", 200, 45, 0);
	background-color: #f8f8f8;

	// .packages__title

	&__title {
		@include adaptiv-value("margin-bottom", 180, 40, 0);
	}

	// .packages__items

	&__items {
		display: flex;
		justify-content: space-between;
		@include adaptiv-value("column-gap", 60, 10, 0);
	}

	ul.packages__item {
		flex: 0 1 360px;
		padding: 45px 30px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		li {
			font-weight: 400;
			margin-bottom: 20px;

			&:first-child {
				margin-bottom: 60px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .packages__item-name

	&__item-name {
		font-weight: 400;
		font-size: 36px;
		line-height: calc(40 / 36 * 100%);
		color: $color-title;
		align-self: center;
	}

	// .packages__item-sum

	&__item-sum {
		text-align: center;
		font-weight: 400;
		font-size: 36px;
		line-height: calc(40 / 36 * 100%);
		color: $color-title;
		padding-top: 60px;
		align-self: center;
		margin: auto 0;

		sup {
			font-size: 18px;
			line-height: calc(22 / 18 * 100%);
			padding-left: 5px;
		}
	}
}

//========================================================================================

.map {
	@include adaptiv-value("padding-top", 200, 50, 0);
	// .map__images

	&__images {
	}

	// .map__img

	&__img {
		margin: 0 auto;
	}
}

//========================================================================================

.connection {
	@include adaptiv-value("padding-top", 200, 50, 0);
	@include adaptiv-value("padding-bottom", 200, 45, 0);

	// .connection__title

	&__title {
		@include adaptiv-value("margin-bottom", 200, 50, 0);
	}

	// .connection__info

	&__info {
		display: flex;
		justify-content: space-between;
		column-gap: 30px;
		@include adaptiv-value("margin-bottom", 200, 50, 0);
	}

	// .connection__form

	&__form {
		flex: 0 1 50%;
	}

	// .connection__form-input

	&__form-input {
		display: block;
		width: 100%;
		outline: none;
		border: 0;
		border-bottom: 2px solid #dadada;
		padding: 5px 5px 20px;
		margin-bottom: 30px;
		font-size: 16px;

		&::placeholder {
			font-weight: 400;
			font-size: 18px;
			line-height: calc(18 / 18 * 100%);
			color: $green;
		}
	}

	// .connection__form-area

	&__form-area {
		display: block;
		width: 100%;
		resize: none;
		border: none;
		border-bottom: 2px solid #dadada;
		padding: 5px 5px 20px;
		margin-top: 50px;
		margin-bottom: 70px;
		min-height: 150px;
		font-size: 16px;

		&::placeholder {
			font-weight: 400;
			font-size: 18px;
			line-height: calc(18 / 18 * 100%);
			color: $green;
			max-width: 260px;
		}
	}

	// .connection__form-btn

	&__form-btn {
		outline: none;
		background-color: #fff;
		border: 1px solid #c4c4c4;
		padding: 25px 110px;
		font-size: 24px;
		font-weight: 400;
		cursor: pointer;
	}

	// .connection__contact

	&__contact {
		flex: 0 1 50%;
		background-color: #f8f8f8;
		padding: 50px;
		font-weight: 400;
		font-size: 24px;
		line-height: calc(30 / 24 * 100%);
	}

	// .connection__contact-text

	&__contact-text {
		max-width: 330px;
		margin-bottom: 65px;
	}

	// .connection__contact-phone

	&__contact-phone {
		max-width: 330px;
		margin-bottom: 65px;

		a {
			display: block;
		}
	}

	// .connection__contact-address

	&__contact-address {
		max-width: 330px;
	}

	// .connection__social

	&__social {
		display: flex;
		justify-content: center;
	}

	// .connection__social-list

	&__social-list {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	// .connection__social-item

	&__social-item {
		margin: 10px 5px;
	}

	// .connection__social-link

	&__social-link {
		font-weight: 400;
		font-size: 24px;
		transition: all 0.5s;

		&:hover {
			color: $green;
		}
	}
}

//========================================================================================

.footer {
	background-color: $green;
	@include adaptiv-value("padding-top", 70, 15, 0);
	@include adaptiv-value("padding-bottom", 70, 15, 0);

	// .footer__logo

	&__logo {
		display: block;
	}

	// .footer__logo-img

	&__logo-img {
		margin: 0 auto;
	}
}

//========================================================================================

//========================================================================================
@import "_media";
//========================================================================================
